# Core LaTeX auxiliary files
*.aux
*.log
*.lof
*.lot
*.fls
*.out
*.toc
*.blg
*.bbl
*.synctex.gz
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.dvi
*.ps

# Editor-specific files (e.g., TeXstudio, TeXworks, VS Code)
*.bak
*.gz
*.pdfsync
*.spl
*.tdo
*.upa
*.run.xml
*.latexmain

# Build directories and temporary files
_minted-*
_region_.tex
auto
svg-inkscape/
*/_minted-*
*/_region_.tex
*/auto
*/svg-inkscape/

# Other common temporary files
*.pyg
*.xdv
*.idx
*.ind
*.ilg
*.gls
*.glo
*.glg
*.acn
*.acr
*.alg
*.ist
*.xdy
*.mp
*.dpth
*.tps
*-blx.bib
*-blx.aux
*.cb
*.cbl
*.bcf
*.xml
*.gz(log)

*.bbl-SAVE-ERROR
